@model DefectTracker.Contracts.Requests.CreateDefectRequest

@{
    ViewData["Title"] = "Create";
}

<div class="row mt-4">
    <div class="col col-4 m-auto">
        <h2>Create Defect</h2>
        <hr/>
        <form method="post">
            <input asp-for="@Model.CreatedByUserId" type="hidden" />
            <input asp-for="@Model.BugId" type="hidden" />
            <input asp-for="@Model.DefectModelTypeId" type="hidden" />
            <input asp-for="@Model.OriginDateCreatedOffset" type="hidden" />
            <div class="form-group">
                <label asp-for="@Model.DefectTypeId"></label>
                <select asp-for="@Model.DefectTypeId" asp-items="@(new SelectList(Model.DefectTypes, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="@Model.DefectTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DefectQualifierId"></label>
                <select asp-for="@Model.DefectQualifierId" asp-items="@(new SelectList(Model.DefectQualifiers, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="@Model.DefectTypeId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <div class="col col-8">
        <div class="jumbotron p-4">
            <h4>Bug Details</h4>
            <hr />
            <div class="form-group">
                <label>Work Item Id</label>
                <h5>@Model.Bug.WorkItemId</h5>
            </div>
            <div class="form-group">
                <label>Title</label>
                <h5>@Model.Bug.Title</h5>
            </div>
            <div class="form-group">
                <label>Origin Date</label>
                <h5>@Model.Bug.OriginDateOffset.ToString("MM/dd/yyyy")</h5>
            </div>
        </div>
    </div>
</div>

