@model DefectTracker.Contracts.Requests.CreateProjectRequest

@{
    ViewData["Title"] = "Create";
}

<div class="row mt-4">
    <div class="col col-4 m-auto">
        <h2>Create Project</h2>
        <form asp-controller="Project" asp-action="Manage" method="post">
            <input asp-for="@Model.UserId" type="hidden" />
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OriginDateOffset"></label>
                <input asp-for="@Model.OriginDateOffset" class="form-control" />
                <span asp-validation-for="@Model.OriginDateOffset" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

