@model DefectTracker.Web.ViewModels.Project.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-4">
    <div class="col">
        <h4 class="mb-4">@Model.Project.Name</h4>
        <canvas id="myChart" width="400" height="150"></canvas>
        <div class="mt-4">
            <a asp-area="" asp-controller="Defect" asp-action="Create" asp-route-projectId="@Model.Project.Id" class="btn btn-primary">Add Defect</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/chart.js/dist/Chart.bundle.min.js"></script>
    <script>
        var originDate = '@Model.Project.OriginDate';
        var defects = @Html.Raw(Json.Serialize(Model.Defects));
        var defectTypes = @Html.Raw(Json.Serialize(Model.DefectTypes));
    </script>
    <script src="~/dist/defectChart.bundle.js"></script>
}


